$color-initial: #fff !default
$color-primary: #00a2ff !default
$color-secondary: #606c76 !default
$color-tertiary: #f4f5f6 !default
$color-quaternary: #dadada !default
$color-quinary: #e1e1e1 !default

$header-height-desktop: 6rem !default
$header-height-mobile: 5rem !default
