<h2>Edit Client number</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.client_number_path(@conn, :update, @client_number)) %>

<span><%= link "Back", to: Routes.client_number_path(@conn, :index) %></span>
