# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/assets/node_modules

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Ignore secrets
/config/*.secret.exs

# Ignore elixir ls
/.elixir_ls/

# Ignore helper
helper.txt

# Ignore debug config
.vscode

# Ignore backup files
/*.bak