<h2>Edit Server number</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.server_number_path(@conn, :update, @server_number)) %>

<span><%= link "Back", to: Routes.server_number_path(@conn, :index) %></span>
