<h2>Show Server number</h2>

<ul>

  <li>
    <strong>Number:</strong>
    <%= @server_number.number %>
  </li>

</ul>

<span><%= link "Edit", to: server_number_path(@conn, :edit, @server_number) %></span>
<span><%= link "Back", to: server_number_path(@conn, :index) %></span>
